###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/.env.local.php
/public/bundles/
/var/
/vendor/
/vendor-bin/
###< symfony/framework-bundle ###

###> mediashare/marathon ###
.marathon*
marathon.json
.time-tracking
.vscode
.idea
###< mediashare/marathon ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> composer/composer ###
/composer.phar
###< composer/composer ###
